:root {
  --primary-color: #E3FDFD;
  --secondary-color: #CBF1F5;
  --tertiary-color:#A6E3E9;
  --quaternary-color: #71C9CE;
  --logo-color: rgb(92,141,161);

  --page-color:var(--secondary-color);
}  

.d-sm-flex {
    margin-bottom: 30px;
}

.Feature-Section {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.carousel-section {
    margin: 30px;
}

body {
    background-color: var(--page-color);
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}

.tvc_image {
    background-color: var(--page-color);
}

.menu-page {
    font-size: x-large;
    line-height: 1.5;
    padding-left: 5%;
    padding-right:5%
}

.two-column {
    display:flex;
    flex-direction: row; /* Default: items in a row */
    width:90%;
    margin-left: 5%;
    gap:10px;
}

.column-one {
    flex: 1;
}

.column-two {
    flex: 3;
}

.about-group {
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
}

.about-item {
    margin-left: 25px;
}

.navbar {
    background-color: var(--secondary-color);
    position: fixed; /* This makes the navbar stick to the viewport */
    top: 0; /* Positions it at the very top of the viewport */
    width: 100%;  /*Ensures it spans the full width */
    z-index: 100; /* Ensures it stays on top of other elements */
}

.navbar-nav > li{
  padding-left:60px;
  font-weight: 600;
  font-size: large;
}

.body-content {
    margin-top: 160px;
}

/* Styles for forms input */
/* *** Contact Request *** */
.grid-form {
  display: grid;
  /* Creates two columns of equal width */
  grid-template-columns: 1fr 1fr;
  /* Adds space between the rows and columns */
  gap: 20px;
  /* Ensures inputs don't overflow the container */
  box-sizing: border-box; 
  max-width: 50%;
  margin: 10px 25% 10px 25%;
  padding: 20px;
  border: 1px solid rgb(13, 202, 240); /* border-info color */
  border-radius: 20px;
}

/* *** Referral *** */
.referral-form {
  background-color: antiquewhite;
}

.boxed-item {
  box-sizing: border-box; 
  max-width: 85%;
  margin: 10px 7% 10px 8%;
  padding: 20px;
  border: 1px solid rgb(13, 202, 240); /* border-info color */
  border-radius: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.group-form {
  display: grid;
  /* Creates three columns of equal width */
  grid-template-columns: repeat(3, 1fr);
  text-align: center;

  /* Adds space between the rows and columns */
  gap: 20px;
  /* Ensures inputs don't overflow the container */
  box-sizing: border-box; 
  max-width: 85%;
  margin: 10px 7% 10px 8%;
  padding: 20px;
  border: 1px solid rgb(13, 202, 240); /* border-info color */
  border-radius: 20px;
}

.form-group input {
  /* Ensures inputs take the full width of their grid cell */
  width: 100%; 
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding/border is included in width */
}

/* Class to make items span across both columns */
.span-one {
  grid-column: 2 / span 1; /* Starts at column 2 and spans 1 column */
}

/* Class to make items span across both columns */
.span-two {
  grid-column: 1 / span 2; /* Starts at column 1 and spans 2 columns */
}

/* Class to make items span across three columns */
.span-three {
  grid-column: 1 / span 3; /* Starts at column 1 and spans 3 columns */
}

.inline-label {
  display: inline-block;
  width: 100px; /* Optional: ensures uniform label width across a form */
  margin-right: 10px; /* Adds space between label and input */
}

:is(.span-one, .span-two, .span-three) button {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(13,110, 253);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.align-middle {
    vertical-align: middle;
}

/* Media Query for smaller screens */
@media (max-width: 991px) {
  .two-column {
    flex-direction: column; /* On screens 991px or less, stack items vertically */
  }

  .grid-form {
    /* Stacks columns vertically on smaller screens */
    grid-template-columns: 1fr; 
    max-width: 75%;
    margin: 5px 15% 5px 15%;
  }

  .navbar-nav > li{
    padding-left:0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 300;
    font-size:medium;
  }
}
