:root {
  --primary-color: #E3FDFD;
  --secondary-color: #CBF1F5;
  --tertiary-color:#A6E3E9;
  --quaternary-color: #71C9CE;
  --logo-color: rgb(92,141,161);

  --page-color:var(--secondary-color);
}  

.d-sm-flex {
    margin-bottom: 30px;
}

.Feature-Section {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.carousel-section {
    margin: 30px;
}

body {
    background-color: var(--page-color);
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}

.tvc_image {
    background-color: var(--page-color);
}

.menu-page {
    font-size: x-large;
    line-height: 1.5;
    padding-left: 5%;
    padding-right:5%
}

.two-column {
    display:flex;
    flex-direction: row; /* Default: items in a row */
    width:90%;
    margin-left: 5%;
    gap:10px;
}

.column-one {
    flex: 1 1 33%;
}

.column-two {
    flex: 2 2 auto;
}

.about-group {
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
}

.about-item {
    margin-left: 25px;
}

/* Media Query for smaller screens */
@media (max-width: 991px) {
  .two-column {
    flex-direction: column; /* On screens 991px or less, stack items vertically */
  }
}
